<!doctype html>
<html>
  <head>
    <% include ../partials/header %>
  </head>
  <body>
    <div class="page-container">

      <h2 class="page-title">New Book</h2>
      <form class="new-item-form" method="POST" action="/books">
        <label>Title</label>
        <input name="title" type="text" />
        <label>Author</label>
        <input name="author" type="text" />
        <label>Date of Publication</label>
        <input name="date" type="number" />
        <label>Description:</label>
        <input name="description" type = "text">
        <label>Cover Image:</label>
        <input name="img" type = "text">
        <label>State</label>
          <option value="">Select a state...</option>
          <% states.forEach( state => { %>
            <option value="<%= state.id %>"><%= state.name %></option>
          <% }) %>
        </select>
        <button type="submit">Create Book</button>
      </form>
    </div>
  </body>
</html>