body {
    background: #8EE4AF;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: #05386B;
    /* margin: 20px; */
}

/* partials */

.webheader {
    font-family: 'Playfair Display', serif;
    color: #05386B;
    font-style: italic;
    font-size: 75px;
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    z-index: 1;
    background: #8EE4AF;
    padding: 20px;
}

.home {
    border: 1px solid #05386B;
    padding: 10px;
    box-sizing: border-box;
    float: right;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    margin: 20px;
    font-size: 20px;
    top: 0;
    position: fixed;
    right: 10px;
}

.home:hover {
    background-color: #05386B;
    color: #8EE4AF;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #05386B;
    color: #8EE4AF;
    text-align: center;
    padding: 8px;
    font-family: "Roboto", sans-serif;
}

aside {
    width: 35%;
    box-sizing: border-box;
    padding: 20px;
    border-left: 1px solid #05386B;
    position: fixed;
    right: 0;
}

aside label {
    display: block;
    padding: 5px;
}

aside input {
    width: 300px;
    background-color: #EDF5E1;
    border-style: solid;
    border: 1px solid #EDF5E1;
}

aside .statesdescription {
    height: 50px;
}

aside button {
    font-family: 'Playfair Display', serif;
    box-sizing: border-box;
    font-size: 20px;
    border: 1px solid #05386B;
    padding: 10px;
    margin-top: 20px;
    background-color: #8EE4AF;
    color: #05386B;
}

aside button:hover {
    background-color: #05386B;
    color: #8EE4AF;
}

h2 {
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    padding: 20px;
    background-color: #8EE4AF;
}

h3 {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    /* font-style: italic; */
    padding-bottom: 15px;
}

.title {
    font-style: italic;
}

.author {
    font-size: 30px;
    font-style: normal;
}

.description {
    margin: 0 auto;
    width: 70%;
    text-align: justify;
    line-height: 30px;
    padding: 20px;
}

.bookpageshow {
    text-align: center;
    padding: 40px;
}

.statenameshow {
    font-size: 70px;
    font-style: italic;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #05386B;
}

.states-main {
    display: flex;
}

.book-wrapper {
    font-family: 'Roboto', sans-serif;
    color: #05386B;
    justify-content: center;
    flex-shrink: 0;
}

.books-wrapper {
    width: 65%;
    display: flex;
    box-sizing: inherit;
    overflow-y: scroll;
    margin: 20px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

img {
    height: 300px;
    flex-shrink: 0;
    display: block;
    padding: 10px;
}

.book-img {
    display: inline-block;
    opacity: .8;
    z-index: -1;
}

.edit-link {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    box-sizing: border-box;
    font-size: 15px;
    border: 1px solid #05386B;
    padding: 8px;
    width: 60px;
}

.edit-link:hover {
    background-color: #05386B;
    color: #8EE4AF;
}

.delete-button {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    background: none;
    color: #05386B;
    box-sizing: border-box;
    font-size: 15px;
    border: 1px solid #05386B;
    margin-right: 50px;
    padding: 8px;
}

.delete-button:hover {
    background-color: #05386B;
    color: #8EE4AF;
}

.book-actions {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.allpostcards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transition-timing-function: linear;
    transform: scale(1);
    position: relative;
    margin-top: 150px;
}

.allpostcards :hover {
    transform: scale(1.1);
    transition: all 0.4s;
}

.postcard {
    height: 200px;
}

.bookzoom :hover {
    transform: scale(1.1);
    transition: all 0.4s;
}

.bookzoom {
    display: flex;
}

/* Edit Page Styling
*/

.edit-page-container {
    margin: 50px;
    box-sizing: border-box;
}

.edit-page-title {
    font-style: italic;
}

.flex-outer input {
    width: 75%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 12px;
    background-color: #EDF5E1;
    border-style: solid;
    border: 1px solid #EDF5E1;
}

.flex-outer label {
    display: block;
    padding: 5px;
}

.edit-button {
    margin-top: 20px;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    background: none;
    color: #05386B;
    box-sizing: border-box;
    font-size: 15px;
    border: 1px solid #05386B;
    margin-right: 50px;
    padding: 8px;
}

.edit-button:hover {
    background-color: #05386B;
    color: #8EE4AF;
}

.edit-description {
    display: block;
    height: 100px;
    padding: 5px;
    background-color: #EDF5E1;
}

/* <div>Icons made by <a href="https://www.flaticon.com/authors/situ-herrera" title="Situ Herrera">Situ Herrera</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> */