<!doctype html>
<html>

<head>
  <% include ../partials/header %>
</head>

<body>
  <div class="page-container">
    <h2 class="page-title">what to read in
      <span class="statenameshow">
        <%= state.name %>
      </span>
    </h2>
    <main class="states-main">
      <div class="books-wrapper">
        <% books.forEach(book => { %>
          <div class="book-wrapper">
            <a class="bookzoom" href="/books/<%= book.id %>">
              <img src="<%= book.img %>">
            </a>
          </div>
        <% }) %>
      </div>
        
      <aside>
      <h3> add a book </h3>
        <form class="new-item-form" method="POST">
          <p>
            <label>Title:</label>
            <input name="title" type="text" />
          </p>
          <p>
            <label>Author:</label>
            <input name="author" type="text" />
          </p>
          <p>
            <label>Date of Publication:</label>
            <input name="date" type="number" />
          </p>
          <p>
            <label>Description:</label>
            <input name="description" type="text">
          </p>
          <p>
            <label>Cover Image:</label>
            <input name="img" type="text">
          </p>
          <button type="submit">add this classic!</button>
        </form>
      </aside>
    </main>
  </div>
</body>
<footer>
  <% include ../partials/footer %>
</footer>
</html>
