
<!doctype html>
<html>
  <head>
    <% include ../partials/header %>
  </head>
  <body>
    <div class="page-container">

      <h2 class="page-title"><%= state.name %> </h2>
      <% books.forEach(book => { %>
        <div class="quote-wrapper">
          <a href="/books/<%= book.id %>"><blockquote><%= book.title %> – <%= book.author %></blockquote></a>
          <div class="book-actions">
          </div>
        </div>
      <% }) %>
    </div>
  </body>
</html>